<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">The Ezrat Nashim Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/"><span class="fas fa-home"></span> Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><small><i class="fas fa-book-open" aria-hidden="true"></i></small> About
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-search"></span> Search
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-plus"></span> Add a Shul
            <span class="sr-only">(current)</span>
          </a>
        </li>

        <!-- Authentication -->
        <% if(currentUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_out"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
              <span class="sr-only">(current)</span>
            </a>
          </li>
        <% }%>




        <li class="nav-item">
          <a class="nav-link" href="#"><span class="fas fa-globe"></span> עברית
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
