body{
  padding-top: 54px;
  background-color: #ddfcff;
  padding-top: 54px;
}
.list-group-item{
  background-color: #bcdcff;
  border-width: 0;

}
.form-control, .custom-control-label::before{
  background-color: #d8ebff;
  border-width: 0;
}
.jumbotron {
  background-color: #455dad;
  color: #fafafa;
}
.btn-warning{
  background-color: #ffe960;
  border-width: 0;
}
.btn-danger{
  background-color: #ff5151;
  border-width: 0;
}
.btn-success{
  background-color: #53b53b;
  border-width: 0;
}
.btn-outline-primary{
  color: #273b73;
  border-color: #273b73;
}
.btn-outline-primary:hover{
  background-color: #273b73;
  border-color: #273b73;
  color: #effdff;
}
.btn-primary{
  background-color: #273b7b;
  border-width: 0;
}
li hr{
  color: #333dce;
  background-color: #333dce;
}
.navbar{
  background-color: #323232;
}
.buffer{
  height: 60px;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
.table > tbody > tr:first-child > td {
  border-top: none;
  /* border-bottom: none; */
}
.checked {
  color: #273b73;
}
.unchecked {
  color: white;
  border-color: #3b69cc;
  border-width: 1px
}
.stars {
  white-space: nowrap;
}

.stars > i {
  display: inline-block;
}
.table-plain tbody tr,
.table-plain tbody tr:hover,
.table-plain tbody td {
  background-color:transparent;
  border:none;
  padding: 0;
}
.vert-horiz-center-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vert-horiz-center{

}
.table{
  border-radius: 3px;
}
.table-sm td{
  padding-bottom: 0;
}
.table-bordered td {
  background-color: #effdff;
  border-color: #dce9ea;
}

.table-bordered th {
  background-color: #d8ebff;
  border-color: #cce4ff;
}
.table-secondary td{
  background-color: #bcdcff;
  border-color: #bacdff;
  padding-bottom: .3rem;
}
.table .thead-dark th{
  background-color: #273b73;
  border-color: #3a5399;
  color: #d8ebff;
}
.size-tag{
  background-color: #d8ebff;
  width: 100%;
  height: 20px;
  border-radius: .2rem;
}
