<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation -->
    <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <% include ./partials/messages.ejs %>

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <div class="row">
            <div class="col-lg-8">
              <h1 class="display-3">Welcome to the Ezrat Nashim Database</h1>
              <p class="lead">A crowdsourced database of shuls around the world.</p>
            </div>
            <div class="col-lg-4 vert-horiz-center-container">
              <div class="vert-horiz-center">
                <div class="row " style="">
                  <a href="/shuls" class="btn btn-primary btn-lg" style="width: 250px; margin-bottom: 12.5%; margin-left: auto;margin-right: auto;"><span class="fas fa-search"></span> Search</a>
                </div>
                <div class="row" style="text-align: center;">
                  <a href="/shuls/new/select_city" class="btn btn-primary btn-lg" style="width: 250px; margin-left: auto;margin-right: auto;"><span class="fas fa-plus"></span> Add a Shul</a>
                </div>
              </div>
            </div>
          </div>
        </header>

      </main>
      <!-- /.container -->
      <% include ./partials/baseScripts.ejs %>

    </body>
</html>
