<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../static/partials/head.ejs %>
  </head>
  <body>

    <!-- Navigation -->
    <% include ../../static/partials/navbar.ejs %>

    <!-- Page Content -->
    <main class="container">

      <% include ../../static/partials/messages.ejs %>

      <h1>Add a Shul</h1>
      <hr>
      <form action="/shuls/create" method="post" style="width: 85%; margin: auto">

        <div id="general-info-questions" style="width: 100%">

          <h2>General Info</h2>
          <ul class="list-group">
            <li class="list-group-item">

              <div id="location" style="width: 100%">
                <div class="row">
                  <div class="col-lg-8">
                    <label><b>City selected:</b>
                      <% if(cityId === 1) { %>
                        Bergnefield, NJ, USA
                      <% } else if (cityId === 2) { %>
                        Teaneck, NJ, USA
                      <% } %>
                    </label>
                    <input type="text" value=<%= cityId %> name="cityId" aria-describedby="titleHelp" hidden>
                  </div>

                  <div class="col-lg-4 col text-right">
                    <a class="btn btn-secondary btn-sm" href="/shuls/new/select_city" style="margin-left: 20px">Change City</a>
                  </div>
                </div>

              </div>
              <hr>
              <div class="row">
                <div class="form-group col-lg-4">
                  <label for="name">Shul Name</label>
                  <input type="text" class="form-control" name="name" aria-describedby="titleHelp" placeholder="Enter Shul Name" style="width: 250px">
                    <small>Shul Name must be at least 2 characters</small>
                </div>
                <div class="form-group col-lg-4">
                  <label for="nussach">Nussach</label>
                  <input type="text" class="form-control" name="nussach" aria-describedby="titleHelp" placeholder="Enter Nussach" style="width: 250px">
                    <small>Nussach must be at least 2 characters</small>
                </div>
              </div>

            </li>
          </ul>

        </div>
        <div id="ezrat-nashim-questions" style="width: 100%">
          <h2>Women's Section(s)</h2>
          <ul class="list-group">
            <li class="list-group-item list-group-item_1">
              <div class="repeatingSection">
                <div class="row">
                  <div class="col-lg-8">
                    <!-- <h4 id="room-name_1">Room 1</h4> -->
                  </div>
                  <div class="col-lg-4 col text-right">
                    <a href="#" class="btn btn-secondary btn-sm deleteRoom">Delete Room</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="formRow form-group">
                      <label for="roomName_1">Room Name (e.g. Main Shul)</label>
                      <input type="text" name="roomName_1" class="form-control default-empty-value" id="roomName_1" aria-describedby="titleHelp" placeholder="Enter name" style="width: 250px" value="" />
                        <small>Leave blank if shul only has one room</small>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <div class="formRow form-group">
                      <label for="size_1">Women's section size (relative to men's)</label>
                      <select name="size_1" class="form-control" id="size_1" style="width: 250px">
                        <option value=0>---Select---</option>
                        <option value=1>Much smaller (XS)</option>
                        <option value=2>Somewhat smaller (S)</option>
                        <option value=3>Same size (M)</option>
                        <option value=4>Larger (L)</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="formRow form-group">
                  <label for="audVisRating_1">How easy or difficult is it to see and hear from the women's section?</label>
                  <select name="audVisRating_1" class="form-control" id="audVisRating_1" style="width: 250px">
                    <option value=0>---Select---</option>
                    <option value=1>1 - Very difficult</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5 - Very easy</option>
                  </select>
                </div>
                <div class="formRow form-group">
                  <label for="layout_1">Where is the women's section? (check all that apply):</label>

                  <div class="row">
                    <div class="col-lg-3">
                      <div class="question-text"><b>Same floor as men's</b></div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="sameFloorCentered_1" name="sameFloorCentered_1" value=true>
                        <label class="custom-control-label" for="sameFloorCentered_1">
                          Centered Mechitza
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="sameFloorSide_1" name="sameFloorSide_1" value=true>
                        <label class="custom-control-label" for="sameFloorSide_1">
                          Side
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="sameFloorBack_1" name="sameFloorBack_1" value=true>
                        <label class="custom-control-label" for="sameFloorBack_1">
                          Back
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="question-text"><b>Slightly Elevated</b></div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="elevatedCentered_1" name="elevatedCentered_1" value=true>
                        <label class="custom-control-label" for="elevatedCentered_1">
                          Centered Mechitza
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="elevatedSide_1" name="elevatedSide_1" value=true>
                        <label class="custom-control-label" for="elevatedSide_1">
                          Side
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="elevatedBack_1" name="elevatedBack_1" value=true>
                        <label class="custom-control-label" for="elevatedBack_1">
                          Back
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="question-text"><b>Balcony</b></div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="balconySide_1" name="balconySide_1" value=true>
                        <label class="custom-control-label" for="balconySide_1">
                          Side
                        </label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="balconyBack_1" name="balconyBack_1" value=true>
                        <label class="custom-control-label" for="balconyBack_1">
                          Back
                        </label>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <div class="question-text"><b>No women's section</b></div>
                      <div class="custom-control custom-checkbox">
                        <input class="custom-control-input checkbox" type="checkbox" id="noWomenSection_1" name="noWomenSection_1" value=true>
                        <label class="custom-control-label" for="noWomenSection_1">
                          There is no women's section
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <div class="formRowRepeatingSection">
                <div class="row">
                  <div class="col-lg-12 col text-right">
                    <a href="#" class="btn btn-secondary btn-sm addRoom">Add Another Room</a>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>




        <div id="yes-no-questions" style="width: 100%">
          <h2>Additional Info</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <table style="width:100%" class="table table-sm table-responsive-sm">
                <tbody>
                  <div class="form-group">
                    <tr>
                      <td style="">
                        <div class="question-text"><b>Childcare:</b> Is there an on-site childcare program?</div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="childcare" id="childcare-yes" value=1>
                          <label class="custom-control-label" for="childcare-yes">Yes</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="childcare" id="childcare-no" value=2>
                          <label class="custom-control-label" for="childcare-no">No</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="childcare" id="childcare-unsure" value=3>
                          <label class="custom-control-label" for="childcare-unsure">Unsure</label>
                          <input class="custom-control-input" type="radio" name="childcare" id="childcare-default" value=3 checked hidden>
                        </div>
                      </td>
                      <td>
                      </td>
                    </tr>
                  </div>
                  <div class="form-group">
                    <tr>
                      <td>
                        <div class="question-text"><b>Female Leadership:</b> Are there any women in leadership positions?</div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="femaleLeadership" id="leadership-yes" value=1>
                          <label class="custom-control-label" for="leadership-yes">Yes</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="femaleLeadership" id="leadership-no" value=2>
                          <label class="custom-control-label" for="leadership-no">No</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="femaleLeadership" id="leadership-unsure" value=3>
                          <label class="custom-control-label" for="leadership-unsure">Unsure</label>
                          <input class="custom-control-input" type="radio" name="femaleLeadership" id="leadership-default" value=3 checked hidden>
                        </div>
                      </td>
                      <td>
                      </td>
                    </tr>
                  </div>
                  <div class="form-group">
                    <tr>
                      <td>
                        <div class="question-text"><b>Kaddish:</b> Can women say kaddish?</div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishGeneral" id="kaddish-yes" value=1>
                          <label class="custom-control-label" for="kaddish-yes">Yes</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishGeneral" id="kaddish-no" value=2>
                          <label class="custom-control-label" for="kaddish-no">No</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishGeneral" id="kaddish-unsure" value=3>
                          <label class="custom-control-label" for="kaddish-unsure">Unsure</label>
                          <input class="custom-control-input" type="radio" name="kaddishGeneral" id="kaddish-default" value=3 checked hidden>
                        </div>
                      </td>
                      <td>
                      </td>
                    </tr>
                  </div>
                  <div class="form-group">
                    <tr>
                      <td rowspan="2">
                        <div class="question-text"><b>Kaddish:</b> Can women say kaddish if no man is saying it?</div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishAlone" id="kaddish-alone" value=1>
                          <label class="custom-control-label" for="kaddish-alone">Yes</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishAlone" id="kaddish-with-man" value=2>
                          <label class="custom-control-label" for="kaddish-with-man">No</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishAlone" id="kaddish-alone-na" value=3>
                          <label class="custom-control-label" for="kaddish-alone-na">A man always says kaddish</label>
                        </div>
                      </td>
                      <td>
                        <div class="custom-control custom-radio">
                          <input class="custom-control-input" type="radio" name="kaddishAlone" id="kaddish-alone-unsure" value=4>
                          <label class="custom-control-label" for="kaddish-alone-unsure">Unsure</label>
                          <input class="custom-control-input" type="radio" name="kaddishAlone" id="kaddish-alone-default" value=4 checked hidden>
                        </div>
                      </td>
                    </tr>
                  </div>
                </tbody>
              </table>
            </li>
          </ul>

          <div class="row">
            <div class="col-lg-12 text-center">
              <button type="submit" class="btn btn-lg btn-primary" style="margin-top: 16px; width: 250px">Submit</button>
            </div>
          </div>
        </form>
        <div class="buffer"></div>
      </main>
      <!-- /.container -->
      <% include ../../static/partials/baseScripts.ejs %>

    </body>
    <script type="text/javascript">
      // Add a new repeating section
        var attrs = ['for', 'id', 'name'];
        function resetAttributeNames(section) {
          var tags = section.find('input, label, select'), idx = section.index();
          tags.each(function() {
            var $this = $(this);
            $.each(attrs, function(i, attr) {
              var attr_val = $this.attr(attr);
              if (attr_val) {
                  $this.attr(attr, attr_val.replace(/_\d+$/, '_'+(idx + 1)))
              }
            })
          })
        }

        $('.addRoom').click(function(e){
          e.preventDefault();
          var lastRepeatingGroup = $('.repeatingSection').last();
          var cloned = lastRepeatingGroup.clone(true);
          cloned.find(".default-empty-value").val("");
          cloned.find(".checkbox").prop("checked", false);
          cloned.insertAfter(lastRepeatingGroup);
          resetAttributeNames(cloned);
        });

        // Delete a repeating section
        $('.deleteRoom').click(function(e){
          e.preventDefault();
          var current_room = $(this).parent('div').parent('div').parent('div');
          var other_rooms = current_room.siblings('.repeatingSection');
          if (other_rooms.length === 0) {
            alert("You should at least have one room");
            return;
          }
          current_room.slideUp('slow', function() {
            current_room.remove();

                  // reset room indexes
            other_rooms.each(function() {
              resetAttributeNames($(this));
            })
          })
        });
    </script>
</html>
